<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quản_Lí_Kho_Vật_Tư.Properties.Settings.ql_vattuConnectionString"
            connectionString="Data Source=MSI\xuan;Initial Catalog=ql_vattu;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Quản_Lí_Kho_Vật_Tư.Properties.Settings.QL_KhoVatTuConnectionString"
            connectionString="Data Source=MSI\xuan;Initial Catalog=QL_KhoVatTu;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>